Repository ziteh/yangchun-comment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.{js,ts,mjs}": ["prettier --write", "eslint"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

fix(docs): update comment ID format in mock data
  docs/src/mocks/handlers.ts
Due: prettier --write, eslint

fix(docs): remove unused admin login logic and related variables
  docs/src/mocks/handlers.ts
Due: prettier --write, eslint

fix(server): update the type of POST_BASE_URL
  server/src/routes/comment.ts
  server/wrangler.toml
Due: prettier --write, eslint

feat(docs): add Variables page
  docs/src/content/docs/reference/var.md
Due: none

feat(docs): update privacy caution
  docs/src/content/docs/guides/get-started.mdx
  docs/src/content/docs/reference/privacy.md
  docs/src/content/docs/reference/security.md
  docs/src/content/docs/reference/type.md
  docs/src/content/docs/reference/var.md
Due: none

feat(docs): add i18n zh-TW
  docs/astro.config.mjs
  docs/src/content/docs/zh-tw/guides/get-started.mdx
  docs/src/content/docs/zh-tw/reference/privacy.md
  docs/src/content/docs/zh-tw/reference/security.md
Due: prettier --write, eslint

feat(docs): translate into English
  docs/src/content/docs/guides/get-started.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/privacy.md
  docs/src/content/docs/reference/security.md
  docs/src/content/docs/reference/var.md
Due: none

fix(server): update vitest configuration to use defineConfig
  server/vitest.config.mts
Due: none

fix(docs): update url of sanitize source code
  docs/src/content/docs/reference/security.md
Due: none

docs: update readme
  .cspell.yaml
  README.md
Due: prettier --write

feat(ci): add lint
  .github/workflows/ci.yml
Due: prettier --write

chore: update packages
  client/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
  server/src/routes/admin.ts
  server/src/utils/crypto.ts
Due: prettier --write, eslint

chore: update version
  client/package.json
  server/package.json
Due: prettier --write

docs: update get-started.mdx to readme
  README.md
Due: none

docs: update readme
  README.md
  client/README.md
Due: none

fix(docs): update npm package version
  docs/src/content/docs/guides/get-started.mdx
  docs/src/content/docs/zh-tw/guides/get-started.mdx
Due: none

docs: update todo list for GDPR
  README.md
Due: none
