Repository ziteh/yangchun-comment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.{js,ts,mjs}": ["prettier --write", "eslint"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

chore: add commit lint
  .commitlintrc.yml
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update git hook
  .lintstagedrc.json
  .prettierignore
  .vscode/settings.json
  lefthook.yml
  package.json
Due: prettier --write

chore: update TypeScript configuration files for consistency and optimization
  client/tsconfig.json
  server/test/tsconfig.json
  server/tsconfig.json
  tsconfig.base.json
Due: prettier --write

ci: update CI config
  .github/workflows/ci.yml
  package.json
Due: prettier --write

ci: pnpm install ignore scripts
  .github/workflows/ci.yml
Due: prettier --write

feat: add site comments RSS
  server/src/rss.ts
Due: prettier --write, eslint

feat: update RSS endpoint to validate site parameter and use environment variables for configuration
  package.json
  server/src/rss.ts
  server/wrangler.toml
Due: prettier --write, eslint

feat: disable thread RSS feed
  server/src/rss.ts
Due: prettier --write, eslint

feat: use environment variable for frontend URL in RSS feed and update link generation
  server/src/rss.ts
  server/wrangler.toml
Due: prettier --write, eslint

feat: replace hardcoded 'deleted' string with DELETED_MARKER constant for consistency
  server/src/comment.ts
  server/src/rss.ts
  server/src/utils.ts
Due: prettier --write, eslint

refactor: refactor comment key handling to use COMMENTS_KEY_PREFIX constant for consistency
  server/src/rss.ts
  server/src/utils.ts
Due: prettier --write, eslint

feat: update client example html
  client/index.html
Due: none

feat: change from lit-html to LitElement
  client/package.json
  client/src/index.ts
  client/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: preserve content after switching preview/write states
  client/src/index.ts
Due: prettier --write, eslint

fix: change markdown description window is changed to mask floating window
  client/src/index.css
  client/src/index.ts
Due: prettier --write, eslint

refactor: separate functions into separate files
  client/src/element.ts
  client/src/index.ts
  client/src/types.ts
  client/src/utils/apiService.ts
  client/src/utils/format.ts
  client/src/utils/i18n.ts
  client/src/utils/sanitize.ts
  client/src/views/comments.ts
  client/src/views/preview.ts
Due: prettier --write, eslint

feat: add docs/ subproject
  docs/.gitignore
  docs/.vscode/extensions.json
  docs/.vscode/launch.json
  docs/README.md
  docs/astro.config.mjs
  docs/package.json
  docs/public/favicon.svg
  docs/src/assets/houston.webp
  docs/src/content.config.ts
  docs/src/content/docs/guides/example.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/example.md
  docs/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint

feat: add starlight theme nova
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/docs/index.mdx
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: add client into docs
  client/package.json
  client/src/element.ts
  client/tsconfig.json
  client/vite.config.ts
  docs/astro.config.mjs
  docs/package.json
  docs/src/components/YangchunComment.astro
  docs/src/content/docs/guides/html-usage.md
  docs/src/content/docs/index.mdx
  docs/src/env.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: add MSW
  docs/package.json
  docs/public/mockServiceWorker.js
  docs/src/components/CommentSystem.astro
  docs/src/components/YangchunComment.astro
  docs/src/content/docs/index.mdx
  docs/src/mocks/browser.ts
  docs/src/mocks/handlers.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: update `.gitattributes`
  .gitattributes
Due: none

feat: remove Nova theme
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/docs/guides/get-started.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/api.md
  docs/src/mocks/handlers.ts
Due: prettier --write, eslint

fix: add under line for link
  client/src/index.css
Due: none

fix: update github link text of help message
  client/src/element.ts
Due: prettier --write, eslint

feat(docs): update getting started and development page
  docs/astro.config.mjs
  docs/src/content/docs/guides/development.md
  docs/src/content/docs/guides/get-started.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/api.md
Due: prettier --write, eslint

feat(docs): update getting started backend command
  docs/src/content/docs/guides/get-started.md
Due: none

fix(client): move yangchun-comment/shared type define into dev dependencies
  client/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(client): update build stript
  client/package.json
Due: prettier --write

chore: rename npm package
  client/package.json
  client/src/element.ts
  client/src/types.ts
  client/src/utils/apiService.ts
  client/src/views/comments.ts
  docs/package.json
  docs/src/components/CommentSystem.astro
  docs/src/content/docs/guides/html-usage.md
  docs/src/mocks/handlers.ts
  package.json
  pnpm-lock.yaml
  server/package.json
  server/src/comment.ts
  server/src/rss.ts
  server/test/app.test.ts
  shared/package.json
Due: prettier --write, eslint

fix(server): remove request body from comment DELETE and use headers replace
  client/src/utils/apiService.ts
  server/src/comment.ts
  server/src/middleware.ts
Due: prettier --write, eslint

refactor(server): definition of default values and constants
  server/src/admin.ts
  server/src/comment.ts
  server/src/const.ts
  server/src/middleware.ts
  server/src/rss.ts
  server/src/utils.ts
Due: prettier --write, eslint

chore(server): update vars in wrangler.toml
  server/wrangler.toml
Due: none

chore(client): update package.json info
  client/package.json
Due: prettier --write

docs: add FE for get started
  docs/src/content/docs/guides/get-started.md
Due: none

docs: remove html-usage page and update index link
  docs/astro.config.mjs
  docs/src/content/docs/guides/development.md
  docs/src/content/docs/guides/html-usage.md
  docs/src/content/docs/index.mdx
Due: prettier --write, eslint

docs: add type page
  docs/src/content/docs/reference/type.md
Due: none

docs: add security page
  docs/src/content/docs/reference/security.md
Due: none

docs: add feature
  docs/src/content/docs/guides/get-started.md
Due: none

chore(docs): update styles
  docs/astro.config.mjs
  docs/src/styles/custom.css
Due: prettier --write, eslint

docs: add sorce code link for sanition
  docs/src/content/docs/reference/security.md
Due: none
