Repository ziteh/yangchun-comment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix(server): use environment variables for D1 and KV IDs
  server/package.json
  server/wrangler.toml
Due: prettier --write

fix(server): use z.coerce for number validation in environment schema
  server/src/index.ts
Due: prettier --write, eslint

fix(client): remove redundant CSS variable
  client/src/components/yangchun-comment.styles.ts
Due: prettier --write, eslint

fix(client): update output file names and types in configuration
  client/package.json
  client/tsconfig.json
  client/vite.config.ts
Due: prettier --write, eslint

chore(server): add example .env configuration
  server/.env.example
  server/wrangler.toml
Due: none

feat(docs): update get started for new version
  docs/src/content/docs/guides/get-started.mdx
Due: none

feat(server): add generate-secret-keys script for secure key generation
  server/generate-secret-keys.js
Due: prettier --write, eslint

chore: add security rules in ESLint
  eslint.config.mjs
Due: prettier --write, eslint

chore(client): remove HttpOnly cookie todo
  client/src/api/apiService.ts
Due: prettier --write, eslint

style(client): adjust the code structure
  client/src/utils/sanitize.ts
Due: prettier --write, eslint

feat(docs): update docs for new system
  docs/src/content/docs/guides/get-started.mdx
  docs/src/content/docs/reference/privacy.md
  docs/src/content/docs/reference/security.md
Due: none

chore(server): rename D1 to yangchun-comment-d1
  server/package.json
  server/wrangler.toml
Due: prettier --write

fix(docs): update get started step
  docs/src/content/docs/guides/get-started.mdx
Due: none

fix(server, docs): reduce iteration of PBKDF2 to 100000
  docs/src/content/docs/guides/get-started.mdx
  docs/src/content/docs/reference/security.md
  server/.env.example
  server/generate-password-hash.js
  server/src/utils/crypto.ts
Due: prettier --write, eslint

refactor(docs): update password hash and salt output format
  .vscode/settings.json
  docs/src/content/docs/guides/get-started.mdx
  server/generate-password-hash.js
  server/generate-secret-keys.js
  server/package.json
Due: prettier --write, eslint

fix(docs): update instructions for secrets file location
  docs/src/content/docs/guides/get-started.mdx
  server/generate-password-hash.js
Due: prettier --write, eslint

feat(docs): add deployment instructions for Yang Chun Comment
  docs/src/content/docs/guides/get-started.mdx
Due: none

fix(docs): update security page
  docs/src/content/docs/reference/security.md
Due: none

feat(docs): add cookie sameSite, admin login env config
  docs/src/content/docs/reference/troubleshooting.md
  server/generate-password-hash.js
  server/src/index.ts
  server/src/routes/admin.ts
  server/wrangler.toml
Due: prettier --write, eslint

feat(docs): add cache-aside for comments
  server/src/routes/comment.ts
Due: prettier --write, eslint

feat(client): add cache-aside and caching for RSS feed
  server/src/routes/comment.ts
  server/src/routes/rss.ts
Due: prettier --write, eslint

feat(docs): enhance CSS custom
  client/src/components/comment-dialog.ts
  client/src/components/comment-info.ts
  client/src/components/comment-input.ts
  client/src/components/list/comment-list-item.ts
  client/src/components/yangchun-comment.styles.ts
Due: prettier --write, eslint

feat(client): add no HTML to help
  client/src/components/yangchun-comment.ts
  client/src/utils/i18n.ts
  client/src/utils/sanitize.ts
Due: prettier --write, eslint

chore: add cspell config
  .cspell.yaml
  .vscode/settings.json
  client/index.html
Due: prettier --write

feat(client): add custom styles for dev
  client/index.html
Due: none

refactor(client, server): rename prePowMagicWord to prePowSalt
  client/index.html
  client/src/api/apiService.ts
  client/src/components/yangchun-comment.ts
  docs/src/content/docs/guides/get-started.mdx
  server/.env.example
  server/src/index.ts
  server/src/routes/pow.ts
  server/src/utils/crypto.ts
  server/wrangler.toml
Due: prettier --write, eslint

fix(server, shared, client): update formal challenge endpoint from GET to use POST
  client/src/api/apiService.ts
  docs/src/mocks/handlers.ts
  server/src/routes/pow.ts
  shared/src/schemas/pow.ts
Due: prettier --write, eslint

feat(server): add CSRF protection middleware to admin endpoint
  server/src/routes/admin.ts
Due: prettier --write, eslint

feat(client): add external link handling and user prompts
  client/src/components/list/comment-list-item.ts
  client/src/components/yangchun-comment.ts
  client/src/utils/i18n.ts
  client/src/utils/sanitize.ts
Due: prettier --write, eslint

test(client): add tests for DOMPurify
  .cspell.yaml
  client/package.json
  client/test/sanitize.test.ts
  client/tsconfig.json
  client/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

feat(client): replace snarkdown with marked for markdown rendering
  client/package.json
  client/src/components/list/comment-list-item.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

fix(client): correct image src attribute in help markdown sample
  client/src/components/yangchun-comment.ts
Due: prettier --write, eslint

feat(shared): add regex validation for pseudonym
  shared/src/schemas/comment.ts
Due: prettier --write, eslint

fix(server): remove sanitize before save to D1 DB
  server/src/routes/comment.ts
  server/src/routes/rss.ts
Due: prettier --write, eslint

feat(shared): add message preprocessing for comment input
  shared/src/schemas/comment.ts
Due: prettier --write, eslint

fix(shared): update pseudonym regex to enforce proper capitalization
  server/src/utils/sanitize.ts
  shared/src/schemas/comment.ts
Due: prettier --write, eslint

fix(client): remove unused Comment type export
  client/src/index.ts
Due: prettier --write, eslint

fix(shared): fix zod schema of pseudonym to allow empty as anonymous
  shared/src/schemas/comment.ts
Due: prettier --write, eslint

fix(docs): update hero style
  docs/src/styles/custom.css
Due: none

Path conditions:
  prettier --write: (any of: *.{js,ts,mjs}) or (any of: *.{json,yml,yaml})
  eslint: any of: *.{js,ts,mjs}
